*{
    background-color: rgb(242, 244, 246);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
.container{
    display: flex;
}

/* LEFT-SIDE */
.left-side img{
    height: 730px;
}

/* RIGHT-SIDE */
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 13%;
}
.logo img{
    width: 45.761px;
    height: 27.301px;
    margin-left: 40%;
}
h1{
    text-align: center;
    margin-top: 3%;
}
.logo p{
    text-align: center;
    margin-top: 2%;
    color: rgba(153, 153, 153, 1);
    margin-bottom: 20%;
}
.btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
    background-color:white;
    color: #666;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    cursor: pointer;
}
.google{
    background: transparent;
    width: 6%;
}
.btn2:hover{
    box-shadow: 0 3px 5px 0 rgba(75, 66, 43, 0.24);
}
.or{
    color: #999;
    text-align: center;
    font-size: 16px;
    margin-top: 2%;
    font-weight: 400;
    line-height: 48px; 
}
.Form{
    margin-right: 90%;
}
form{
    height:200px;
    background-color: rgba(238, 238, 238, 1);
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(248, 245, 248, 0.944);
}
input {
    width: 940%;
    margin-left: 200%;
    border: 0;
    height: 50px;
    background-color: rgba(238, 238, 238, 1);
    border-radius:8px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 38%;
}
.pass{
    width: 100%;
    margin-top: 5%;
    margin-left: 68%;
    color: #666;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
/* ::placeholder {
    color: white; 
}  */
.btn{
    margin-left: 68%;
    margin-top: 2%;
    width: 25%;
    background-color:rgba(51, 51, 51, 1);
    padding: 3%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 4px;
    border-radius: 20px;
    cursor: pointer;
}
.btn a{
    background-color:rgba(51, 51, 51, 1);
    color: #FFF;
}
.btn:hover{
    box-shadow: 0 5px 5px 0 rgba(75, 66, 43, 0.24);
}
.account{
    margin-top: 5%;
    color: #999;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
@media (max-width: 1350px){
    .left-side{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        margin-right: 5%;
    }
}